{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
    <title>Document</title>
</head>

<body>
    {% include 'snippets/navbar.html'%}

    <section class="grid-autofit-la bg-black ">
        <div class="container-100p flexrow-cccl margin-1em">
            <div>
                <h1>
                    Tell me about your thoughts!
                </h1>
                <br>
            </div>
            <div class="">
                <form method="POST" class="flexrow-cccl">
                    <div class="">
                        {% csrf_token %}
                        <input type="text" name="status_user" class="bg-white" placeholder="I Hate Monday..." required="" label="" id="id_status_user">
                        <br>
                        <input type="Submit" name="button_input" value="Share it Share it!!" class="cta-green">
                    </div>
                </form>
            </div>
        </div>
        <div class="container-100p flexrow-ccc">
            <h1>Stories</h1>
            <br>
            <div class="container-50vh-nopad-fixed overflowy-scroll">
                {% for i in status %}
                <div class="flexible-cards bg-white flexrow-llcl margin-1em">
                    <p style="font-size: 1em;">
                        {{ i.status_user }}
                    </p>
                    <br>
                    <p style="font-size: 0.7em; color:rgba(0,0,0,0.5)">{{i.upload_time}}</p>
                </div>
                <br> {% endfor %}
            </div>
        </div>
    </section>
    <section>
    </section>

</body>

</html>